# Ignore Python byte code files
__pycache__/

# Ignore database files
*.sqlite3

# Ignore media files (usually user-uploaded content)
/media/

# Ignore environment-specific settings
*.env

# Ignore Python virtual environment folder
venv/

# Ignore the playground folder
playground/

# Ignore Visual Studio Code settings
.vscode/
